@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.raleway-font {
    font-family: "Raleway", sans-serif;
}

.logo-font {
    font-family: "Inter", sans-serif;
}


* {
    max-width: 1420px;
    margin: auto;

}



/*Header*/

.logo-Color {
    font-weight: bold;
    color: rgb(78, 71, 255);
}


.header-container {
    background: url(./Assets/Hero-bg.png);
    width: 100%;
    padding-bottom: 160px;
}

.header-title {

    font-size: 60px;
    font-weight: 700;
    padding: 150px 0 28px 0;
    text-align: center;
}



.font-size {
    font-size: 40px;
    font-weight: bold;
}



/* form */
.form-style {
    box-sizing: border-box;
    border: 2px solid rgb(214, 221, 237);
    border-radius: 10px;
    padding: 20px 32px 20px 32px;
    width: 400px;
    margin: 8px 0px;
}

.border-outline {
    /* border: none; */
    outline: none;
}

/*shared style */

.h2-tag {
    font-size: 42px;
    font-weight: 800;
}

.btn {
    padding: 12px 36px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    background-color: rgb(78, 71, 255);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}



.btn:hover {
    background-color: rgb(41, 34, 226);
    transform: translateY(-2px);
}

.flex {
    align-items: center;
    display: flex;
}

.m-bottom {
    margin-bottom: 130px;
}

.m-bottomm {
    margin-bottom: 160px;
}

.short-description {
    padding: 20px 0px;
    opacity: 70%;
}